@import url(./style.css);

.newheader {
    background: transparent;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .newhead {
        width: 1200px;
        margin: auto;
        border: 0;
        padding: 15px 20px;
        border-radius: 100px;
    }

    .left {
        margin: auto 20px auto 0;
        max-width: fit-content;

        img {
            width: 100px;
        }
    }

    .right {
        margin: auto 0;

        button {
            background-color: transparent;
            border: 1px solid var(--fourth-color);
            font-weight: 400;
            padding: 2px 15px;
        }
    }
}

.newheader.scrolled {
    background-color: var(--third-color);
}

.navigate {
    margin: auto 0;

    ul {
        display: flex;
        list-style-type: none;
        gap: 10px;
        margin-bottom: 0;
        justify-content: center;
    }

    a {
        color: var(--fourth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 0;
        border-radius: 10px 0 10px 0;
        padding: 5px 14px;
    }

    li {
        background-color: transparent;
        margin: 0;
        cursor: pointer;
    }

    nav ul li a.active {
        background-color: var(--primary-color);
        color: var(--fourth-color) !important;
    }

    li:hover {
        a {
            color: var(--secondary-color) !important;
        }
    }
}

form {
    .pass {
        margin: auto 0 auto auto;
        gap: 10px;
    }

    .radio {
        display: flex;
        gap: 20px;

        input {
            width: 15px;
            margin-left: 0 !important;
        }

        label {
            margin-top: 0;
            margin-left: 20px;
        }
    }

    ::placeholder {
        color: var(--fifth-color);
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }

    div {
        gap: 5px;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-input {
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .dropdown-content {
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group:last-child {
        border-bottom: none;
    }

    .dropdown-content label {
        margin-right: 10px;
    }

    .qty {
        cursor: pointer;
        width: 30px;
        text-align: center;
    }

    .qtyminus,
    .qtyplus {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    .dropdown-content input[type="text"] {
        width: 50px;
        text-align: center;
    }

    .form-control {
        border: 1px solid #cacaca;
        padding: 10px 12px !important;
    }
}

.herobg {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--fourth-color);
        text-shadow: none;
    }
}

.contact {
    form {
        margin-top: 10px;

        button {
            width: 100px;
        }

        input {
            padding: 15px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }

    .right {
        background-color: var(--primary-color);
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 35%;

        h2 {
            color: var(--fourth-color) !important;
            padding: 5px;
            border-bottom: 1px solid #cacaca;
        }

        h3 {
            background-color: var(--fourth-color);
            border-radius: 50px;
            margin: auto 0;
            z-index: 1;
            color: var(--primary-color) !important;
        }

        p {
            background-color: var(--primary-color);
            color: var(--fourth-color);
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            margin-left: -10px !important;
            border: 1px solid #fff;
        }

        .flex {
            margin-top: 10px;
        }

        a,
        a:hover {
            color: var(--fourth-color);
        }
    }

    h3,
    p {
        margin: auto 0 !important;
    }
}

.cta {
    background-color: var(--secondary-color);
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    margin: 10px;
    border-radius: 10px;

    ion-icon {
        background-color: var(--third-color);
        color: var(--fourth-color);
        padding: 10px;
        border-radius: 100%;
    }

    div {
        margin: auto 0;
    }

    h3,
    p {
        margin: auto 0 !important;
        color: var(--fourth-color) !important;
        padding: 0 !important;
        line-height: 1.5;
    }

    h4 {
        color: var(--fourth-color) !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.5;
    }
}

.bg1 {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 120%;
    animation: zoomPan 20s infinite alternate ease-in-out;

    .row1 {
        padding-top: 150px;
    }

    h1 {
        color: var(--fourth-color) !important;
    }

    .col3 {

        .column,
        div {
            flex: 1;
        }

        button {
            width: fit-content;
            margin: 5px 0;
        }

        input,
        .form-control {
            border-radius: 0 5px 5px 0;
        }

        i {
            font-size: 18px;
            background-color: var(--fifth-color);
            margin: auto;
            padding: 12px 10px;
            color: var(--fourth-color);
            width: 40px;
            border-radius: 5px 0 0 5px;
        }

        .labelcol {
            gap: 0;
        }

        .form-control,
        input,
        ::placeholder {
            font-size: 14px;
        }
    }

    form {
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border-radius: 10px;
    }
}

@keyframes zoomPan {
    0% {
        background-size: 120%;
        background-position: center;
    }

    50% {
        background-size: 130%;
        background-position: top left;
    }

    100% {
        background-size: 120%;
        background-position: center;
    }
}

.introimages {
    img {
        width: 100%;
    }

    .row1 {
        padding-block: 0;
        margin-top: -125px;
    }
}

.usps {
    p {
        line-height: 1.6;
        font-size: 14px;
    }

    h3 {
        color: var(--secondary-color) !important;
    }

    i {
        font-size: 25px;
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 0 50%;
    }

    .grid .column:hover {
        cursor: pointer;

        i {
            background-color: var(--secondary-color);
            border-radius: 50% 0;
            color: var(--fourth-color);
        }
    }
}

.way4flytext {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0.65), rgba(20, 20, 20, 0.65)), url(../images/water-waves.jpg);
    text-align: center;

    h2,
    p {
        color: var(--fourth-color) !important;
    }

    .column {
        margin: auto;
        width: 80%;
    }
}

.way4media {
    img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.3);
    }

    button {
        margin-top: 15px;
    }

    p {
        line-height: 1.8;
    }

    .grid {
        gap: 40px;
    }
}

.way4airlines {
    background-color: #f7f7f7;
    text-align: center;

    img {
        height: 40px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .colum {
        a {
            background-color: var(--fourth-color);
            box-shadow: 0 0 3px 3px rgba(20, 20, 20, 0.2);
            border-radius: 10px;
            padding: 35px 15px;
            margin-inline: 10px;
            border-radius: 100%;
            width: fit-content;
        }
    }

    a:hover {
        .column {
            background-color: var(--secondary-color);

            p {
                color: var(--fourth-color);
            }
        }
    }
}

.way4trip {
    ol {
        margin-left: 10px;
    }

    li {
        font-size: 15px;
    }

    ul {
        list-style-type: disc;
    }

    img {
        width: 100%;
    }
}

.way4destinations {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h4 {
        width: fit-content;
        position: relative;
        background-color: var(--primary-color);
        margin: -18px auto 5px auto !important;
        color: var(--fourth-color) !important;
        padding: 5px 15px !important;
        border-radius: 25px;
    }

    p {
        font-size: 15px;
    }

    .slider-container1 {
        position: relative;
        overflow: hidden;
    }

    .slider1 {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide1 {
        min-width: 300px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 3px 3px rgba(20, 20, 20, 0.1);
        margin: 10px;
        text-align: center;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .prev-btn1,
    .next-btn1 {
        /* position: absolute; */
        /* top: 50%; */
        /* transform: translateY(-50%); */
        background-color: rgba(20, 20, 20, 0.6);
        color: #fff;
        border: none;
        padding: 5px 12px;
        border-radius: 50px;
        cursor: pointer;
        width: fit-content;
    }

    .prev-btn1 {
        left: 10px;
    }

    .next-btn1 {
        right: 10px;
    }
}

.way4cta {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/water-waves.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px 3px rgba(20, 20, 20, 0.2);
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    margin: auto;
    width: 70%;

    hr {
        width: 50px;
        border: 2px solid var(--primary-color);
        margin:  15px auto;
    }
}