@media only screen and (max-width: 1024px) {
    .row1 {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    h1 {
        font-size: 1.8em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    .d-flex {
        flex-direction: column;
    }

    .gap,
    .gap3 {
        gap: 0;
    }

    button {
        font-size: 16px;
    }

    .newheader {
        width: 100% !important;

        .latesthide {
            display: none;
        }

        .newhead {
            width: 100% !important;
            padding: 15px 20px;

            .icon {
                margin: auto 0;
                flex: 1;
            }
        }

        .right {
            justify-content: center;
            flex: 1;
        }
    }

    .navigate {
        z-index: 99;
        display: none;
        position: absolute;
        background-color: var(--fourth-color);
        box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
        padding: 30px;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        border: none;

        ul {
            flex-direction: column;
            gap: 5px !important;


            li {
                margin: 0;
                padding: 5px;
                cursor: pointer;
            }

            a {
                color: var(--fifth-color) !important;
            }
        }
    }

    #on,
    #off {
        display: block !important;
        font-size: 22px;
        text-align: right;
        color: var(--fifth-color);
    }

    #on {
        color: var(--fourth-color);
        max-width: 30px;
    }

    .newfooter {
        .foot {
            width: 100%;

            p {
                font-size: 15px;
            }

            padding-bottom: 100px;
        }

        .mainfooter {
            width: 100%;
            padding: 20px;
            margin: auto;
        }
    }

    .cta {
        display: block;

        a {
            color: var(--fourth-color) !important;
            line-height: 1.5;
        }
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contact {
        .leftcol {
            grid-column: span 1;
        }

        .gap3 {
            gap: 10px;
        }

        .right {
            box-shadow: 0 0 3px 3px rgba(20, 20, 20, 0.2);
            border-radius: 10px;
            margin-bottom: auto;

            h2 {
                background-color: var(--primary-color);
                color: var(--fourth-color) !important;
                padding: 5px 15px;
                border-radius: 10px 10px 0 0;
            }

            .column1 {
                padding: 15px;
            }

            i {
                background-color: var(--third-color);
                color: var(--fourth-color);
                padding: 10px;
                border-radius: 50%;
                margin-bottom: auto;
            }

            i:hover {
                background-color: var(--primary-color);
            }

            hr {
                margin-block: 10px;
            }
        }
    }

    .way4cta {
        width: 100%;

        hr {
            width: 50px;
            border: 2px solid var(--primary-color);
            margin: 15px auto;
        }
    }

    .way4flytext {
        .column {
            width: 100%;
        }

        p {
            line-height: 1.7;
        }
    }

    .bg1 {
        animation: none;
        background-size: cover;
        background-position: center;

        .row1 {
            padding-top: 80px;
        }
    }

    .introimages {
        display: none;
    }

    .way4airlines {
        img {
            height: 20px;
        }

        .colum {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            a {
                padding: 10px;
                margin: 0;
            }
        }
    }

    .herobg {
        .row1 {
            padding-top: 80px;
        }
    }

    .way4about {
        .imgcol {
            padding: 15px;
        }
    }

    .majorairlines {
        img {
            width: 100%;
        }

        .grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .way4destination {
        .ul, .ol {
            column-count: 1;
        }
    }
}